body {
  font-size: 1.35m;
  padding-left: 5%;
  padding-right: 5%;
  background-color: #002841;
  font-family: Helvetica, Arial, sans-serif;
}

h2 {
  color: #f05a50;
  text-align: center;
}

.container {
  background: #fff;
  border-radius: .5em;
  margin: 5vmin;
  padding: 1vmin;
  height: 70vh;
  width: 60vh;
  display: flex;
  justify-content: center;
  align-items: center;

}

.gallery {
  height: 60vmin;
  width: 60vmin;
  display: flex;
  flex-wrap: wrap;
  align-content: flex-start;
  justify-content: flex-start;

}

img {
  height: 15vmin;
  width: 15vmin;
}
